<!DOCTYPE html>
<html>
	<head>
		<title>Tradutor de DNA</title>
		<link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
		<script>
			function info(event){
				// Get the span object
				var caller = event.target || event.srcElement;

				// Get the attibutes
				var dna = caller.getAttribute("class");
				var aminoacid_name = caller.getAttribute("title");
				var aminoacid_letter = caller.innerText;

				// Set message and show to user
				var message = "Códon codificador: " + dna + "\n" +
							  "Aminoácido respectivo: " + aminoacid_name + "\n" +  
							  "Código do aminoácido: " + aminoacid_letter;
	    		alert( message );
			}
		</script>
	</head>
	<body>
		<div id="main">
			<h1 class="title">Tradutor de DNA</h1>
			<p class="pStart">
				Insira a sua sequencia de bases de DNA e clique em "Analisar"<br/> 
			</p>
			<form method="POST">
				<textarea id="dna" name="dna" rows="5", columns="300"><%=@dna%></textarea>
				<div class="actions">
					<input type="submit" value="Analisar"/>
				</div>
			</form>
			<h1 class="title">Proteína associada ao DNA</h1>
			<p id="protein">
				<% @protein.each do |aminoacid| %>
					<span class="<%=aminoacid[0]%>" title="<%=aminoacid[2]%>" alt="<%=aminoacid[2]%>" onclick="info(event);" ><%=aminoacid[1]%></span>
				<% end %>
			</p>
		</div>

		<div id="bottom">
			<p>Aplicativo desenvolvido para a disciplina de Bioinformática - DCC, UFRJ</p>
			<p>Júlio Bueno e Marcus Vinícius - 2012/02</p>
		</div>
	</body>
</html>